<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VILLOID.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3CDB34FE1E6ED5DA004D3426</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CDB35171E6ED5DA004D3426</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CDB35221E6ED5DA004D3426</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
