<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>h</key>
			<integer>1</integer>
			<key>w</key>
			<integer>1</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>h</key>
			<integer>1</integer>
			<key>w</key>
			<integer>1</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>h</key>
			<integer>1</integer>
			<key>w</key>
			<integer>1</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>h</key>
			<integer>1</integer>
			<key>w</key>
			<integer>1</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>h</key>
			<integer>1</integer>
			<key>w</key>
			<integer>1</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>h</key>
			<integer>1</integer>
			<key>w</key>
			<integer>1</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>h</key>
			<integer>1</integer>
			<key>w</key>
			<integer>1</integer>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>h</key>
			<integer>1</integer>
			<key>w</key>
			<integer>1</integer>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>h</key>
			<integer>1</integer>
			<key>w</key>
			<integer>1</integer>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>h</key>
			<integer>1</integer>
			<key>w</key>
			<integer>2</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>h</key>
			<integer>1</integer>
			<key>w</key>
			<integer>1</integer>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>h</key>
			<integer>1</integer>
			<key>w</key>
			<integer>2</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>h</key>
			<integer>2</integer>
			<key>w</key>
			<integer>1</integer>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>h</key>
			<integer>1</integer>
			<key>w</key>
			<integer>2</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>h</key>
			<integer>3</integer>
			<key>w</key>
			<integer>1</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>h</key>
			<integer>2</integer>
			<key>w</key>
			<integer>2</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>h</key>
			<integer>1</integer>
			<key>w</key>
			<integer>2</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>h</key>
			<integer>2</integer>
			<key>w</key>
			<integer>1</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>h</key>
			<integer>2</integer>
			<key>w</key>
			<integer>2</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>h</key>
			<integer>1</integer>
			<key>w</key>
			<integer>1</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>h</key>
			<integer>1</integer>
			<key>w</key>
			<integer>2</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
	</array>
</array>
</plist>
